@model Entities.Section1

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Section1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Header" class="control-label"></label>
                <input asp-for="Header" class="form-control" />
                <span asp-validation-for="Header" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subheader" class="control-label"></label>
                <input asp-for="Subheader" class="form-control" />
                <span asp-validation-for="Subheader" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="NewPhoto" class="control-label photo-label">Selected Photo</label>
                <input  type="hidden" asp-for="PhotoUrl" class="form-control d-none" />
                <input  type="file" id="NewPhoto" name="NewPhoto" class="form-control d-none" />

                <span asp-validation-for="PhotoUrl" class="text-danger"></span>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section Styles{
    <style>
        .photo-label{
            padding:15px;
            margin:10px;
            background:darkblue;
            color:#fff;
        }
    </style>
}